accelerate
einops
evo
gradio
gsplat
h5py
huggingface-hub[torch]>=0.22
hydra-core
lpips
matplotlib
numpy==1.26.4
open3d
opencv-python
pillow==10.3.0
pyglet<2
roma
scikit-learn
scipy
tensorboard
torch
torchvision
tqdm
transformers
trimesh
viser